.a{
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left:5px;
    margin-right:5px;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer;
    margin: 0 5px; // заменяет margin-left и margin-right
    padding: 0; // если вдруг padding есть
    line-height: 1; // иногда line-height влияет на "визуальный отступ"
    vertical-align: middle; // для inline или inline-block
    display: inline-block; // убедись, что ссылки корректно выровнены
}
.a:hover{
    color:rgba(255, 116, 0, 1);
    font-weight: 600;
}
.button-view{
    width: 137px;
    height: 47px;
    color: #fff;
    background: rgba(255, 116, 0, 1);
    border: none;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.3s ,color 0.3s;
}
.button-view:hover{
    background:#fff;
    color:rgba(255, 116, 0, 1);
}
.Home-page{
    display: flex;
    justify-content: space-between;
    z-index: 10;
    margin-top: 45em;
    width: 1138px;
    height: 328px;
    margin-left: 4%;
}
.page1,.page2,.page3{
    width: 349px;
    height: 328px;
    margin-top: 0;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
    margin-right:initial;
}

