* {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}
body{
    overflow-y: hidden;
}

.boxs-glava{
    display: grid;
    width: 1440px;
    height: 1021px
}
.burger{
    width: 40px;
    height: 30px;
    display: none
}
.img-fon{
    background-image: url(/project-sayt-main/img/8fefb65833b008164ebb4cf2ff06ad13.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 10;
    display: block;
}
.font{
    display: flex;
    justify-content: space-between;;
}
.logo{
    margin-top: 35px;
    margin-left: 40px;
    display: flex;
}
.boxs-logo1{
        width: 80px;
        height: 80px;
        border: 4px solid rgba(255, 116, 0, 1);
        transform: rotate(45deg);
        position: relative;
}
.boxs-logo2{
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255, 116, 0, 1);
    transform: rotate(45deg);
    position: relative;
    margin-left: -20px;
}
.cart{
    width: 20px;
    height: 20px;
    margin: 5px;
    position: relative;
    filter: invert(1) brightness(2) drop-shadow(0 0 5px white);
    margin-top: 0vh;
}
.burger-menu{
    position: relative;
    top: 4em;
    display: flex;
    align-items: flex-start;
    margin-bottom: 35em;
}
.delenie{
    width:2px;
    height: 80px;
    background: #fff;
    position: relative;
    margin-top: -2em;
}
.info-registur{
    display:flex;
    margin-right: 3em;
}
.boxs2{
    display: grid;
    position: relative;
    top: -3em;
    margin-left: 5px;
    margin-right: -75px;
}
.phone{
    width: 21px;
    height: 21px;
    filter: invert(1) brightness(2) drop-shadow(0 0 5px white);
    position: relative;
    top: 4vh;
    left: 0em;
}
#zacas-booking {
    position: relative;
    z-index:1;
    width: 157px;
    height: 47px;
    background: rgba(255, 116, 0, 1);
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, color 0.3s ease;
    z-index: 0;
  }
  #zacas-booking:hover {
    background: #fff;
    color: rgba(255, 116, 0, 1);
}
.burger{
    display:none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.gg{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #fff;
}
.burger::before,.burger::after{
    content:'';
    position:absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}
.burger::before{top: 0;}
.burger::after{bottom: 0;}

.burger.active span {transform: scale(0);}
.burger.active::before{
    top: 50%;
    transform: rotate(-50deg) translate(0,50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0,50%);
}


.boxs-info{
    width: 556px;
    height: 179px;
    z-index:10;
    margin-left: 14em;
    text-align: center;
    position: absolute;
    margin-top: 17em;
}

.coment2{
    color: #fff;
}

  .line-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .line {
    width: 100px;
    height: 2px;
    background: #ffffff;
  }
  .img-page1{
    width: 85px;
    height: 85px;
  }

  